<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Admin Paneli</li>

            <li>
                <a href="~/Views/Dashboard/Index.cshtml" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Ana Sayfa</span>
                </a>
            </li>
            <li>
                <a href="/About/Index" aria-expanded="false">
                    <i class="icon-arrows-check menu-icon"></i><span class="nav-text">Hakkında</span>
                </a>
            </li>
            <li>
                <a href="/Adress/Index" aria-expanded="false">
                    <i class="icon-location-pin menu-icon"></i><span class="nav-text">Adres</span>
                </a>
            </li>
            <li>
                <a href="/Category/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Kategori</span>
                </a>
            </li>
            <li>
                <a href="/Chef/Index" aria-expanded="false">
                    <i class="icon-list  menu-icon"></i><span class="nav-text">Şefler</span>
                </a>
            </li>
            <li>
                <a href="/Event/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Etkinlikler</span>
                </a>
            </li>
            <li>
                <a href="/Product/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Ürünler</span>
                </a>
            </li>
            <li>
                <a href="/Profiles/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Profil</span>
                </a>
            </li>
            <li>
                <a href="/Reservation/Index" aria-expanded="false">
                    <i class="icon-refresh menu-icon"></i><span class="nav-text">Rezervasyon</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Servis</span>
                </a>
            </li>
            <li>
                <a href="/Specials/Index" aria-expanded="false">
                    <i class="icon-speech menu-icon"></i><span class="nav-text">Spesiyaller</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index" aria-expanded="false">
                    <i class="icon-like menu-icon"></i><span class="nav-text">Yorumlar</span>
                </a>
            </li>

        </ul>
    </div>
</div>
